/*

This document is written in BEM.
Block = .block
Element = .block__element
Modifier = .block__element--modifier || .block--modifier

*/

/* Block ******************************************************************/
.background{
  height: 100%;
  width: 100%;
  background-image: url(https://s20.postimg.org/u5ub6y33x/light-bokeh-blur-sky-night-sunlight-971487-pxhere.com-min.jpg);
  background-size: cover;
  overflow: hidden;
}

.profile {
  height: 90%;
  width: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
}

.credit{
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: black;
}

/* Element ****************************************************************/

.profile__row {
  width: 100%;
  height: 40%;
  position: absolute;
  display: inline-block;
}

.profile__box {
  width: 20%;
  height: 100%;
  display: inline;
  overflow: hidden;
  position: absolute;
  z-index: 0;
  border: solid 2px black;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #000;

}

.profile__title {
  width: 80%;
  position: absolute;
  top: 2%;
  left: 10%;
  z-index: 20;
  overflow: hidden;
  background: transparent;
  text-align: center;
  border-radius: 5px;
}

.profile__titleText {
  padding: 5px;
  margin: 5px;
  z-index: 20;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.profile__link {
  text-decoration: none;
}

.profile__image {
  height: 60%;
  width: 60%;
  z-index: 1;
  position: absolute;
  left: -20%;
  top: -10%;
  padding: 40%;
  background-color: grey;
  background-image: url(https://s20.postimg.org/qm8dh4kyl/px_by_Gre3g-min.png);
  background-repeat: repeat;
}

.profile__status {
  width: 80%;
  position: absolute;
  bottom: 2%;
  left: 10%;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  background-image: url(https://s20.postimg.org/qm8dh4kyl/px_by_Gre3g-min.png);
  color: #fff;
  border-radius: 5px;
}


.profile__offlineDim {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -10;
  background: rgba(0, 0, 0, 0.8);

}

/* Modifier ***************************************************************/

.profile__row--0 {
  top: 0;
}

.profile__row--1 {
  bottom: 10%;
}

.profile__box--0 {
  left: -2%;
}

.profile__box--1 {
  left: 19%;
}

.profile__box--2 {
  left: 40%;
}

.profile__box--3 {
  left: 61%;
}

.profile__box--4 {
  left: 82%;
}

.profile__box--5 {
  left: -2%;
}

.profile__box--6 {
  left: 19%;
}

.profile__box--7 {
  left: 40%;
}

.profile__box--8 {
  left: 61%;
}

.profile__box--9 {
  left: 82%;
}
